/*
poslao sam ti sliku na whatsUp , otprilike koji inputi.
Search input gde ce ukucati deo naziva i get metodom ce se vratiti lista artikala koja ce puniti donji dropdown.
iz dropdown-a ce birati artikal koji ce puniti inpu cena. Trebalo bi da mogu i direktno ukucaju cenu u input. 
Input 'komada' ce default-no biti 1.
Submit button ce dodavati vrednosti iz inputa u novi objekat tipa Item (napravicu model),
i taj objekat se dodaje u lokalnu listu, koja ce se iz druge forme slati post metodom na back
*/

<form nz-form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
  <!-- Text Input -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="textInput" nzRequired
      >Text Input</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter text!">
      <input nz-input formControlName="textInput" id="textInput" />
    </nz-form-control>
  </nz-form-item>

  <!-- Integer Input -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="integerInput" nzRequired
      >Integer Input</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Please enter an integer!"
    >
      <input
        nz-input
        formControlName="integerInput"
        id="integerInput"
        type="number"
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Decimal Input -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="decimalInput" nzRequired
      >Decimal Input</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Please enter a decimal number!"
    >
      <input
        nz-input
        formControlName="decimalInput"
        id="decimalInput"
        type="number"
        step="0.01"
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSm]="14" [nzXs]="24">
      <button nz-button nzType="primary" [disabled]="!entryForm.valid">
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
